<div class="formularioRegistro">
    <h2>Crear Producto</h2>
    <form [formGroup]="productoForm" (ngSubmit)="guardar()">
        <div class="form-group">

            <label>Nombre</label>
            <input matInput type="text" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">

            <label>tiempo1</label>
            <input matInput type="number" formControlName="tiempo1" class="form-control">
        </div>
        <div class="form-group">

            <label>tiempo2</label>
            <input matInput type="number" formControlName="tiempo2" class="form-control">
        </div>
        <div class="form-group">

            <label>tiempo3</label>
            <input matInput type="number" formControlName="tiempo3" class="form-control">
        </div>
        <button mat-button color="submit" class="mat-button" type="submit">Guardar</button>

    </form>
</div>
<router-outlet></router-outlet>